<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <h1>Welcome to the home page of @<%=username%></h1>
    <button>Follow</button>
    <button>Like</button>
    <h3>Accounts that follow you</h3>
    <% for (let name of followers) { %>
        <ul>
            <li><%=name%></li>
        </ul>
    <% } %>
    <%- include("includes/footer.ejs")%>
</body>
</html>