h1{
    color: blue;
    text-align: center;
}

.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.user {
    font-weight: bold;
    font-style:italic;
    color: #333;
}

.content {
    color: #555;
}

.form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    box-sizing: border-box;
}

a{
    color: #007bff;
    transition: color 0.3s ease;

}