

   <div style="background-color: #f1f1f1; padding: 20px; text-align: center;">
        <p>&copy; 2023 Your Company Name. All rights reserved.</p>
        <p>Follow us on:
            <a href="https://www.facebook.com">Facebook</a>,
            <a href="https://www.twitter.com">Twitter</a>,
            <a href="https://www.instagram.com">Instagram</a>
</div> 
